footer {
  height: 50px;
  position: absolute;
  bottom: 0;
  border-top: 3px solid #000;
}

img, .goal {
  cursor: pointer;
}

.goal {
  transition: all 0.2s ease-in-out;
}

.goal:hover {
  transform: scale(0.9);
}

footer > * {
  padding: 0 1em;
}

.footer--update {
  color: red;
  font-weight: bold;
  background-color: white;
  border: solid black 1px;
  padding: 0.35rem;
  border-radius: .20rem;
}

.footer--update::after {
  content: ' Update Needed!';
}
