<nav>
  <ul>
    <li>
      <a routerLink="food-plate" routerLinkActive="active">My Food Plate</a>
    </li>
    <li>
      <a routerLink="food-groups" routerLinkActive="active">Food Groups</a>
    </li>
    <li>
      <a routerLink="farmers-markets" routerLinkActive="active">Farmer's Markets</a>
    </li>
    <li>
      <a routerLink="exercises" routerLinkActive="active">Exercises</a>
    </li>
    <li>
      <a routerLink="todays-goal" routerLinkActive="active">Today's Goal</a>
    </li>
    <li>
      <a routerLink="nutrition-info" routerLinkActive="active">Nutrition Info</a>
    </li>
    <li>
      <a routerLink="goals" routerLinkActive="active">Goals</a>
    </li>
  </ul>
</nav>
